# Dependencies
node_modules/

# Tailwind CSS compiled file (optionnel - vous pouvez le commiter si vous voulez)
# assets/css/tailwind-compiled.css

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo


